@font-face {
  font-family: "iconfont"; /* Project id 2986401 */
  src: url('iconfont.woff2?t=1638940028596') format('woff2'),
       url('iconfont.woff?t=1638940028596') format('woff'),
       url('iconfont.ttf?t=1638940028596') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-Dyanjing:before {
  content: "\e8ad";
}

.icon-caidan:before {
  content: "\e8ae";
}

.icon-anquan:before {
  content: "\e8af";
}

.icon-bangzhu:before {
  content: "\e8b0";
}

.icon-buganxingqu:before {
  content: "\e8b1";
}

.icon-bofangjilu:before {
  content: "\e8b2";
}

.icon-chuangzuo:before {
  content: "\e8b3";
}

.icon-chenggong:before {
  content: "\e8b4";
}

.icon-ceshi:before {
  content: "\e8b5";
}

.icon-dianhua:before {
  content: "\e8b6";
}

.icon-dianzan:before {
  content: "\e8b7";
}

.icon-dingwei:before {
  content: "\e8b8";
}

.icon-diantong_guan:before {
  content: "\e8b9";
}

.icon-dianying:before {
  content: "\e8ba";
}

.icon-ditu:before {
  content: "\e8bb";
}

.icon-diantong_kai:before {
  content: "\e8bc";
}

.icon-dianyingpiao:before {
  content: "\e8bd";
}

.icon-dingdan:before {
  content: "\e8be";
}

.icon-gengduo:before {
  content: "\e8bf";
}

.icon-fanbei:before {
  content: "\e8c0";
}

.icon-faxian:before {
  content: "\e8c1";
}

.icon-ertongpiao:before {
  content: "\e8c2";
}

.icon-gongyi:before {
  content: "\e8c3";
}

.icon-hongbao:before {
  content: "\e8c4";
}

.icon-fenxiang:before {
  content: "\e8c5";
}

.icon-huatifuhao:before {
  content: "\e8c6";
}

.icon-huiyuan:before {
  content: "\e8c7";
}

.icon-aliyu:before {
  content: "\e8c8";
}

.icon-jiju:before {
  content: "\e8c9";
}

.icon-jianshao:before {
  content: "\e8ca";
}

.icon-kabao:before {
  content: "\e8cb";
}

.icon-huati:before {
  content: "\e8cc";
}

.icon-guanzhu:before {
  content: "\e8cd";
}

.icon-maiyizengyi:before {
  content: "\e8ce";
}

.icon-mima:before {
  content: "\e8cf";
}

.icon-nan:before {
  content: "\e8d0";
}

.icon-nv:before {
  content: "\e8d1";
}

.icon-lihe:before {
  content: "\e8d2";
}

.icon-paihangbang:before {
  content: "\e8d3";
}

.icon-lipinka:before {
  content: "\e8d4";
}

.icon-pengyouquan:before {
  content: "\e8d5";
}

.icon-mingxinghuodong:before {
  content: "\e8d6";
}

.icon-saoyisao:before {
  content: "\e8d7";
}

.icon-rili:before {
  content: "\e8d8";
}

.icon-pinglun:before {
  content: "\e8d9";
}

.icon-shanchu:before {
  content: "\e8da";
}

.icon-shangchuan:before {
  content: "\e8db";
}

.icon-shuju:before {
  content: "\e8dc";
}

.icon-sousuo:before {
  content: "\e8dd";
}

.icon-taolunqu:before {
  content: "\e8de";
}

.icon-wodeguanzhu:before {
  content: "\e8df";
}

.icon-xiangji:before {
  content: "\e8e0";
}

.icon-xiazai:before {
  content: "\e8e1";
}

.icon-yinhangka:before {
  content: "\e8e2";
}

.icon-yixiangkan:before {
  content: "\e8e3";
}

.icon-WIFI:before {
  content: "\e8e4";
}

.icon-zhibo:before {
  content: "\e8e5";
}

.icon-back:before {
  content: "\e666";
}

.icon-bad:before {
  content: "\e667";
}

.icon-arrow-double-left:before {
  content: "\e665";
}

.icon-arrow-double-right:before {
  content: "\e668";
}

.icon-close:before {
  content: "\e669";
}

.icon-chart-pie:before {
  content: "\e66a";
}

.icon-cry:before {
  content: "\e66b";
}

.icon-direction-down-circle:before {
  content: "\e66c";
}

.icon-layout:before {
  content: "\e676";
}

.icon-fullscreen-shrink:before {
  content: "\e677";
}

.icon-fullscreen-expand:before {
  content: "\e675";
}

.icon-help:before {
  content: "\e678";
}

.icon-minus-circle:before {
  content: "\e679";
}

.icon-notification:before {
  content: "\e67a";
}

.icon-mic:before {
  content: "\e67b";
}

.icon-operation1:before {
  content: "\e67c";
}

.icon-play:before {
  content: "\e67d";
}

.icon-print:before {
  content: "\e67e";
}

.icon-mobile-phone:before {
  content: "\e67f";
}

.icon-move:before {
  content: "\e680";
}

.icon-refresh:before {
  content: "\e681";
}

.icon-picture:before {
  content: "\e682";
}

.icon-pin:before {
  content: "\e683";
}

.icon-save:before {
  content: "\e684";
}

.icon-setting:before {
  content: "\e686";
}

.icon-close-bold:before {
  content: "\e685";
}

.icon-copy:before {
  content: "\e6f3";
}

.icon-pic:before {
  content: "\e6ff";
}

.icon-favorites-fill:before {
  content: "\e721";
}

.icon-play-fill:before {
  content: "\e72f";
}

.icon-arrow-right:before {
  content: "\e743";
}

.icon-arrow-left:before {
  content: "\e744";
}

.icon-arrow-up:before {
  content: "\e745";
}

.icon-ashbin:before {
  content: "\e746";
}

.icon-attachent:before {
  content: "\e747";
}

.icon-category:before {
  content: "\e748";
}

.icon-conditions:before {
  content: "\e74b";
}

.icon-connections:before {
  content: "\e74c";
}

.icon-cut:before {
  content: "\e74d";
}

.icon-editor1:before {
  content: "\e752";
}

.icon-link:before {
  content: "\e756";
}

.icon-loading:before {
  content: "\e757";
}

.icon-map:before {
  content: "\e758";
}

.icon-password:before {
  content: "\e75b";
}

.icon-Notvisible:before {
  content: "\e75a";
}

.icon-operation:before {
  content: "\e75c";
}

.icon-packaging:before {
  content: "\e75d";
}

.icon-phone:before {
  content: "\e75e";
}

.icon-logistic-logo:before {
  content: "\e761";
}

.icon-product:before {
  content: "\e762";
}

.icon-resonserate:before {
  content: "\e764";
}

.icon-return:before {
  content: "\e765";
}

.icon-rising1:before {
  content: "\e766";
}

.icon-Rightarrow:before {
  content: "\e767";
}

.icon-seleted:before {
  content: "\e768";
}

.icon-shuffling-banner:before {
  content: "\e769";
}

.icon-sorting:before {
  content: "\e76a";
}

.icon-suspended:before {
  content: "\e76b";
}

.icon-Top:before {
  content: "\e76c";
}

.icon-good-fill:before {
  content: "\e780";
}

.icon-add-select:before {
  content: "\e7b0";
}

.icon-sami-select:before {
  content: "\e7b1";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-favorites:before {
  content: "\e7b5";
}

.icon-order:before {
  content: "\e7b6";
}

.icon-search:before {
  content: "\e7b7";
}

.icon-usercenter:before {
  content: "\e7b8";
}

.icon-cangku:before {
  content: "\e7c1";
}

.icon-rightalignment:before {
  content: "\e7d1";
}

.icon-shouqi:before {
  content: "\e7d3";
}

.icon-zhankai:before {
  content: "\e7d4";
}

.icon-inspection:before {
  content: "\e7dc";
}

